html {
    box-sizing: border-box;
}

html,

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/*
#app {
  display: flex;
}

.pokemon-sprite {
  width: 140px;
  height: 140px;
}

.pokedexContainer {
  width: 70vw;
  height: 100vh;
  display: flex;
  border-style: dotted;
}

.personalPokemonContainer{
  width: 30vw;
  height: 100vh;
  border-style: dotted;
  display: inline-block;
} */
